aiocron==1.8.*
asyncio==3.4.*
discord.py==2.3.*
graphviz==0.20.*
mcrcon==0.7.*
moviepy==1.0.*
nltk==3.8.*
numpy==1.26.*
opencv-python==4.8.*
pillow==10.2.*
psutil==5.9.*
psycopg2-binary==2.9.*
pyyaml==6.0.*
requests==2.31.*
wordcloud==1.9.*
