asyncio==3.4.*
discord.py==2.3.*
graphviz==0.20.*
mcrcon==0.7.*
moviepy==1.0.*
nltk==3.9.*
numpy==1.26.*
opencv-python==4.8.*
pillow==10.4.*
psutil==5.9.*
psycopg2-binary==2.9.*
pypandoc==1.13.*
pyyaml==6.0.*
regex==2023.12.25
requests==2.32.*
tzdata  # This only needed if run on windows. I haven't set a version either to ensure it's up to date.
wordcloud==1.9.*
