# Bot settings
bot:
  token: 
  prefix: 'u!'
  presence: 
    message: Voldtekt av API-er
    activity: watching

# Emoji
emoji:
  online: <:online:516328785910431754>
  idle: <:idle:516328783347843082>
  dnd: <:dnd:516328782844395579>
  offline: <:offline:516328785407246356>

# Misc
misc:
  website: https://uiogaming.no
  source_code: https://github.com/UiO-Gaming/uiogaming-bot