config_mode: dev

dev_guild: 747542543750660178

# Bot settings
bot:
  token:
  prefix: 'u!'
  presence:
    message: Diskusjoner om borgerlønn
    activity: listening
    type: dnd

# Database
database:
  host:
  dbname:
  username:
  password:

# CS2 settings
cs2:
  faceit_api_key:

# Minecraft server
minecraft:
  rcon_password:

# Sanity CMS credentials
sanity:
  api_token:
  project_id:
  dataset: production

# Emoji
emoji:
  online: <:online:516328785910431754>
  idle: <:idle:516328783347843082>
  dnd: <:dnd:516328782844395579>
  offline: <:offline:516328785407246356>

# Misc
misc:
  website: https://uiogaming.no
  source_code: https://github.com/UiO-Gaming/uiogaming-bot
